.landingPage {
    padding-top: 7vw;
    /* text-align: center; */
}

.landingPage .hi {
    color: rgb(70, 30, 30);
}

.feeling {
    margin-top: 3vw;
}


.emoji h3 {
    font-size: 7vw;
}

.emoji h4 {
    font-size: 3vw;
}


.ourTherapist h2 {
    font-size: 3vw;
}

.licenses{
    width: 300px;
    height: 250px;
    object-fit: cover;
}