.profile-page {
  margin-top: 2vw;
  padding-top: 5vw;
}
.custom-row{
  margin-bottom: -2vw;
  margin-left: 0vw;
}

@media only screen and (max-width: 500px) {
  .custom-row {
    margin-bottom: -5vw;
  }
}